.top-span{

  background-image:  url('https://i.imgur.com/xPSSUGi.jpg');
  background-size: cover;
  width: 100vw;

}

.logo-container {

  text-align: center;
  padding-top: 13% !important;
  padding-bottom: 15% !important;
  white-space: nowrap;
  background-color: $tint;

}

