<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">


        <!-- latest minified jQuery -->
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

        <!-- master css -->
        <link rel="stylesheet" href="/css/master.css">

        <!-- login css -->
        <link rel="stylesheet" href="/css/login.css">

        <!-- couch css -->
        <link rel="stylesheet" href="/css/customMaterialize.css">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- materialize icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- materialize fixes -->
        <link rel="stylesheet" href="/css/materializefixes.css">

        <!--google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Quicksand|Source+Serif+Pro" rel="stylesheet">


        <script type="text/javascript" src='/main.js'>

        </script>

    <title>Admin Login</title>
  </head>
  <body>

    <div class="row marg-top-l">
        <h4 class="center blue-text quicksand">Admin Login</h4>
      <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4 card">
        <form class="scale-pad-top marg-bottom-s" action="index.html" method="post">
          <div class="input-field col s12">
            <input type="email" name="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 marg-bottom-s">
            <input type="password" name="password" >
            <label for="password">Password</label>
          </div>
      </div>
      <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4 no-pad">
        <input type="submit" name="submit" value="Login" class="btn light-blue darken-4 btn-full">
      </div>
    </form>
    </div>

  </body>
</html>
