
.top-span{

  background-image: url('/images/phx.JPG');
  background-size: cover;

  /*background: #1CB5E0;  / *fallback for old browsers*/
  /*background: -webkit-linear-gradient(to right, );  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #000046, #1CB5E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/

  /*background: #000046;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.outline{

      text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
.gradient{
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.spacing{
  width: 20% !important;
}

.logo{
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.logo-top{
  font-size: 4.5vw;
  margin-top: 25%;
  text-align: center;
}

.logo-bottom{
  font-size: 5vw;
  border-top: 1px solid white;
  text-align: center;
}

.logo-box{
 text-align: center;
 padding-top: 13% !important;
 padding-bottom: 15% !important;
 white-space: nowrap;
 background-color: rgba(0, 0, 0, 0.5);

}

.icons-border{
  border: 1px solid #aeb5c1;
  text-align: center;
}

.top-row{
  margin-top: 50px;
}

.bottom-row{
  background-color: #efefef;
  /*height: 400px;*/
}

#map{
  height: 150px;
  padding: 20%;
}

/*Google fonts*/
.serif{
  font-family: 'Source Serif Pro', serif;
}
.anton{
  font-family: 'Anton', sans-serif;
}
.quicksand{
  font-family: 'Quicksand', sans-serif;
}
.able{
  font-family: 'Abel', sans-serif;
}
.inline{
  display: inline;
  height: 20px;
}
.cstmbtn{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.scale-pad-top{
  padding-top: 5%;
}

.scale-pad-bottom{
  padding-bottom: 5%;
}
.side-nav-item{
  margin-left: 5px;
}
.custom-textarea{
  border: 1px solid #b2b2b2;
  height:200px;
}

iframe{
  height: 255px !important;
  max-width: 255px !important;
  overflow-y: hidden !important;
}

.noflow-y{
  overflow-y: hidden !important;
}

.custom-modal{
  width: 95% !important;
}


.margin-left{
  margin-left: 9% !important;
}
/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #2196f3 !important;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196f3 !important;
     box-shadow: 0 1px 0 0 #2196f3!important;
   }
 /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #2196f3 !important;
 }
 /* label underline focus color */
    .input-field input[type=password]:focus {
      border-bottom: 1px solid #2196f3 !important;
      box-shadow: 0 1px 0 0 #2196f3!important;
    }
/* label focus color */
  .input-field input[type=email]:focus + label {
    color: #2196f3 !important;
}
/* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #2196f3 !important;
     box-shadow: 0 1px 0 0 #2196f3!important;
   }

.marg-top-s{
  margin-top: 25px;
}

.marg-top-m{
  margin-top: 75px;
}

.marg-top-l{
  margin-top: 125px;
}

.marg-bottom-s{
  margin-bottom: 25px;
}

.marg-bottom-m{
  margin-bottom: 75px;
}

.marg-bottom-l{
  margin-bottom: 125px;
}

.centerbtn{
  width: 100%;
}

.bkgnd{
  background-image: url("/images/bkgnd.png");
  background-size: contain;
}

.nav-color{
  background-color: #2196f3 !important;
}

ul.dropdown-content.select-dropdown li span {
    color: #1e88e5; /* no need for !important :) */
}
.img-size{
  height: 225px;
  width: 160px;
}
.secondary-img-size{
  height: 225px;
  width: 175px;
}
.img{
  margin-left: 31%;
}

@media screen and (max-width: 1250px){
  .img{
    margin-left: 27%;
  }
}
@media screen and (max-width: 1180px){
  .img{
    margin-left: 25%;
  }
}
@media screen and (max-width: 1030px){
  .img{
    margin-left: 23%;
  }
}
@media screen and (max-width: 992px){
  .img{
    margin-left: 20%;
  }
}
@media screen and (max-width: 900px){
  .img{
    margin-left: 18%;
  }
}
@media screen and (max-width: 830px){
  .img{
    margin-left: 14%;
  }
}
@media screen and (max-width: 790px){
  .img{
    margin-left: 11%;
  }
}
@media screen and (max-width: 700px){
  .img{
    margin-left: 8%;
  }
}
@media screen and (max-width: 675px){
  .img{
    margin-left: 3%;
  }
}
@media screen and (max-width: 630px){
  .img{
    margin-left: 1%;
  }
}
