html, body{

  width: 100%;
  height: 100%;
}

.logo-in-nav{
}

.logo{
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.logo-top-in-nav{
  font-size: 25px;
  margin-left: 15px;
  text-align: center;
}

.profile-pic{
  margin-top: 10%;
  width: 100%;
}

.marg-top-m{
  margin-top: 75px;
}
