/*Google fonts*/
.serif{
  font-family: 'Source Serif Pro', serif;
}
.anton{
  font-family: 'Anton', sans-serif;
}
.quicksand{
  font-family: 'Quicksand', sans-serif;
}
.able{
  font-family: 'Abel', sans-serif;
}

.nav-text a {
  font-size: 1.5em !important;
}

.logo {

  color: white;
  font-family: 'Source Serif Pro', serif;
  
  &--top {
    
    font-size: 4.5vw;
    
  }

  &--bottom{

    font-size: 4.25vw;
    letter-spacing: .075em;
    border-top: 1px solid white;

  }

}